<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
</head>

<body>
  <h1>Login Page</h1>
  <form>
    <div class="error" style="background-color: red;"></div><br>
    <label for="email" >Email</label><br>
    <input type="text" id="email" required/><br>
    <label for="password">Password</label><br>
    <input type="password" id="password" required><br>
    <input type="submit" value="login"><br>
    </form>
  <!-- <a href="/register">Don't have an accout? Register</a> -->

  <br>Login as one of the following users (all passwords are 'password'):<br>
  <ul></ul>

  <script>
    const form = document.querySelector('form')
    const email = document.querySelector('#email')
    const password = document.querySelector('#password')
    const display = document.querySelector('.error')

   form.addEventListener('submit', async (e) => {
      e.preventDefault()
      display.textContent = ''
      try {
        const res = await fetch('/api/auth/login', {
          method: 'POST',
          body: JSON.stringify({ email: email.value, password: password.value }),
          headers: { 'Content-Type': 'application/json' }
        })
        const data = await res.json()
        if (res.status === 400 || res.status === 401) {
          return display.textContent = `${data.message}. ${data.error ? data.error : ''}`
        }
        data.role === "admin" ? location.assign('/admin') : location.assign('/basic')
      } catch (err) {
        console.log(err.message)
      }

    })


    const ul = document.querySelector('ul')

    const getUsers = async() => {
      const res = await fetch('/api/auth/getUsers')
      const data = await res.json()
      data.user.map((mappedUser)=> {
          let li = `<li> ${mappedUser.email} (${mappedUser.role} in ${mappedUser.org}) </li>`
          ul.innerHTML += li
      })
    }
    getUsers()
  </script>
</body>

</html>
