<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>page2</title>
</head>
<body>
  <h1>Oooo....page2.....secrets</h1>
  User <%= email %> is allowed to see this page
  <br>
  <br>
  <button class="logout"> <a href="/logout">Log Out</a></button>
</body>
</html>
