{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Task{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="task_name">Task Name</label>
    <input name="task_name" id="task_name" value="{{ request.form['task_name'] }}" required>
    <label for="due_date">Due date</label>
    <input name="due_date" id="due_date" value="{{ request.form['due_date'] }}" required>
    <label for="status">Status</label>
    <input name="status" id="status" value="{{ request.form['status'] }}">
    <label for="is_private">Private?</label>
    <input type="checkbox" name="is_private" id="is_private"}}">

    <input type="submit" value="Save">
  </form>
{% endblock %}